:root {
    --color-twitch-official: #6441a5;
    --color-twitter-official: #00acee;
    --color-linkedin-official: #0e76a8;
    --color-github-official: #333;
    --color-discord-official: #5865F2;
    --color-youtube-official: #FF0000;
    --color-spotify-official: #1DB954;
    --color-site-official: #483d8b;
    --color-background-primary: #000000;
}