:root {
    --color-twitch-official: #6441a5;
    --color-twitter-official: #00acee;
    --color-linkedin-official: #0e76a8;
    --color-github-official: #333;
    --color-discord-official: #5865F2;
    --color-youtube-official: #FF0000;
    --color-spotify-official: #1DB954;
    --color-site-official: #483d8b;
    --color-background-primary: #000000;

    --color-primary: #00d1b2;
    --color-pink: #ff3860;
    --color-vueColor: #41b883;
    --color-angularColor: #dd0330;
    --color-nodeColor: #689f64;
    --color-npmColor: #cb3837;
    --color-gitColor: #f05033;
    --color-jsColor: #f6df48;
    --color-jqueryColor: #0868ab;
    --color-htmlColor: #f16529;
    --color-bootstrapColor: #563d7c;
    --color-cssColor: #2162af;
    --color-sassColor: #cd679a;
    --color-webpackColor: #6a91d9;
    --color-mysqlColor: #5e87a1;
    --color-netColor: #16649b;
    --color-csharpColor: #680e7f;
}